<% title "Post" %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<% @post.comments.each do |c| %>
 <p><%= c.body %></p>
<% end %>

<h3>Agregar comentario</h3>
<%= form_for [@post, Comment.new] do |f| %>
  <p>
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit %></p>
<% end %>

<p>
  <%= link_to "Comments", post_comments_path(@post) %> | 
  <%= link_to "Edit", edit_post_path(@post) %> |
  <%= link_to "Destroy", @post, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", posts_path %>
</p>
